@charset "UTF-8";
.booking_hole{
	margin: 50px 90px 0 90px;
	padding: 10px 75px;
/* 	border: 3px solid #c0c0c0;    */
	background-color: #337ab71a; 
}
.booking_unit{
	margin:12px 25px;
	padding: 10px 15px;
	border: 1px solid #ccc; 
}
.booking_key{
	font-size: 16px;	
	font-family: inherit;
	display: inline;
}
.booking_value{
	margin: 0 0 0 0;
	font-size: 16px;	
	font-family: inherit;
	display: inline;
}
.booking_sub{
	display: inline;
	margin:0 0 30px 25px;
	padding: 10px 15px;
	border: 1px solid #ccc; 
	font-size: 20px;
}
.booking_add{
	display: inline;
	margin:30px 25px 0 0;
	padding: 10px 15px;
	border: 1px solid #ccc;
	font-size: 20px; 
}
.booking_hmonth{
	display: inline;
	margin:30px 0 0 0;
	padding: 2px 2px;
/* 	border: 1px solid #ccc; */
	font-size: 16px; 
	text-align: center;
}
.bmoney{
	display: inline;
	margin:30px 0 0 0;
	padding: 10px 15px;
/* 	border: 1px solid #ccc; */
	font-size: 19px; 
	color: #bc2b2b;
	font-style:oblique
}
.booking_bmoney_hole{
	display: inline;
	margin:10px 0 12px 90px;	
	padding: 10px 10px;
/* 	border: 1px solid #ccc;  */
	font-size: 16px;
}
.submintbooking{
    margin: 25px 10px 30px 90px;
    left: 54%;
    right: 50%;
	display: inline-block;
/*     margin: 30px; */
    padding: 0 100px 0 100px;    
}
.submitbutton{
	font-size: 16px;
	margin: 0 20px 0 12px;
	display: inline-block;
	float: left;
}
.dirbutton{
	font-size: 17px;
	margin: 0 12px 0 20px;
	display: inline-block;
	float: right;
}
.book_list_block{
	margin: 10px 25px 10px 25px;
	padding: 0 10px;
}
.book_list{
	margin: 10px 0 10px 0;
	padding: 0;
}
.book_unit{
	color: aliceblue;
	margin: 8px 20px 8px 20px;
	padding: 0 10px 0 12px;
	background-color: #6ed8b573; 
}
.book_unit_inner:hover{
	transform: scale(1.05);
	transition: all 0.5s;
/* 	background-color: #76a7eab0; */
	background-color: #efce8bf2;
	color: black;
}
.book_unit_inner{
	margin: 0 0 0 0;
	padding: 15px 0 15px 0;
	background-color: #2b5982;	
}
.book_info{
	display: inline;	
}
.bk_time{
	padding:5px 0 0 15px;
	text-decoration:underline;
}
.bk_money{
	display: inline;
	padding: 0 0 0 15px;
}
.bk_month{
	display: inline;
	margin: 0 0 0 20px;
	padding: 0 0 0 15px;
}
.bk_master{
	display: inline;
	margin: 0 0 0 20px;
	padding: 0 0 0 15px;
}
.book_detail{
	display: inline;
	float: right;
	padding: 0 20px 0 0;
	font-size:12px;
	color: aliceblue;
}
.book_detail:hover{
	transform: scale(1.05);
	transition: all 0.5s;
/* 	background-color: #76a7eab0; */
	background-color: #efce8bf2;
	color: blue;
}
.hbk_hole{
	display: block;
	margin: 0px 20px 10px 20px;
/* 	padding : 15px 15px; */
	color: white;
}
.hbk_inner{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.hbk_startline{
		
}
.hbk_btime{
	margin: 0 0 0 0;
	padding: 5px 5px;
	background-color: #afc3ec;
}
.hbk_bno{
	margin: 0 0 0 0;
	padding: 5px 10px;
	background-color: #5d8df1;
	display: inline;
}
.hbk_bmoney{
	margin: 0 1px 0 1px;
	padding: 5px 20px 5px 20px;
	background-color: #5d8df1;
	display: inline;
}
.hbk_bmonth{
	margin: 0 1px 0 1px;
	padding: 5px 20px 5px 20px;
	background-color: #5d8df1;
	display: inline;
}
.hbk_btenant_id{
	margin: 0 1px 0 1px;
	padding: 5px 20px 5px 20px;
	background-color: #5d8df1;
	display: inline;
}
.hbk_btenant_name{
	margin: 0 1px 0 1px;
	padding: 5px 20px 5px 20px;
	background-color: #5d8df1;
	display: inline;
}
.hbk_btenant_phone{
	margin: 0 1px 0 1px;
	padding: 5px 20px 5px 20px;
	background-color: #5d8df1;
	display: inline;
}